.bai_20{font-size: 20rpx;color: #FFFFFF;}
.bai_21{font-size: 21rpx;color: #FFFFFF;}
.bai_22{font-size: 22rpx;color: #FFFFFF;}
.bai_23{font-size: 23rpx;color: #FFFFFF;}
.bai_24{font-size: 24rpx;color: #FFFFFF;}
.bai_25{font-size: 25rpx;color: #FFFFFF;}
.bai_26{font-size: 26rpx;color: #FFFFFF;}
.bai_27{font-size: 27rpx;color: #FFFFFF;}
.bai_28{font-size: 28rpx;color: #FFFFFF;}
.bai_29{font-size: 29rpx;color: #FFFFFF;}
.bai_30{font-size: 30rpx;color: #FFFFFF;}
.bai_31{font-size: 31rpx;color: #FFFFFF;}
.bai_32{font-size: 32rpx;color: #FFFFFF;}
.bai_34{font-size: 34rpx;color: #FFFFFF;}
.bai_36{font-size: 36rpx;color: #FFFFFF;}
.bai_38{font-size: 38rpx;color: #FFFFFF;}
.bai_39{font-size: 39rpx;color: #FFFFFF;}
.bai_20_bold{font-size: 20rpx;color: #FFFFFF; font-weight: bold;}
.bai_21_bold{font-size: 21rpx;color: #FFFFFF; font-weight: bold;}
.bai_22_bold{font-size: 22rpx;color: #FFFFFF; font-weight: bold;}
.bai_23_bold{font-size: 23rpx;color: #FFFFFF; font-weight: bold;}
.bai_24_bold{font-size: 24rpx;color: #FFFFFF; font-weight: bold;}
.bai_25_bold{font-size: 25rpx;color: #FFFFFF; font-weight: bold;}
.bai_26_bold{font-size: 26rpx;color: #FFFFFF; font-weight: bold;}
.bai_27_bold{font-size: 27rpx;color: #FFFFFF; font-weight: bold;}
.bai_28_bold{font-size: 28rpx;color: #FFFFFF; font-weight: bold;}
.bai_29_bold{font-size: 29rpx;color: #FFFFFF; font-weight: bold;}
.bai_30_bold{font-size: 30rpx;color: #FFFFFF; font-weight: bold;}
.bai_31_bold{font-size: 31rpx;color: #FFFFFF; font-weight: bold;}
.bai_32_bold{font-size: 32rpx;color: #FFFFFF; font-weight: bold;}
.bai_38_bold{font-size: 38rpx;color: #FFFFFF; font-weight: bold;}
.bai_40_bold{font-size: 40rpx;color: #FFFFFF; font-weight: bold;}

.hei_20{font-size: 20rpx;color: #333333;}
.hei_21{font-size: 21rpx;color: #333333;}
.hei_22{font-size: 22rpx;color: #333333;}
.hei_23{font-size: 23rpx;color: #333333;}
.hei_24{font-size: 24rpx;color: #333333;}
.hei_25{font-size: 25rpx;color: #333333;}
.hei_26{font-size: 26rpx;color: #333333;}
.hei_27{font-size: 27rpx;color: #333333;}
.hei_28{font-size: 28rpx;color: #333333;}
.hei_29{font-size: 29rpx;color: #333333;}
.hei_30{font-size: 30rpx;color: #333333;}
.hei_31{font-size: 31rpx;color: #333333;}
.hei_32{font-size: 32rpx;color: #333333;}
.hei_34{font-size: 34rpx;color: #333333;}
.hei_36{font-size: 36rpx;color: #333333;}

.hei_20_bold{font-size: 20rpx;color: #333333; font-weight: bold;}
.hei_21_bold{font-size: 21rpx;color: #333333; font-weight: bold;}
.hei_22_bold{font-size: 22rpx;color: #333333; font-weight: bold;}
.hei_23_bold{font-size: 23rpx;color: #333333; font-weight: bold;}
.hei_24_bold{font-size: 24rpx;color: #333333; font-weight: bold;}
.hei_25_bold{font-size: 25rpx;color: #333333; font-weight: bold;}
.hei_26_bold{font-size: 26rpx;color: #333333; font-weight: bold;}
.hei_27_bold{font-size: 27rpx;color: #333333; font-weight: bold;}
.hei_28_bold{font-size: 28rpx;color: #333333; font-weight: bold;}
.hei_29_bold{font-size: 29rpx;color: #333333; font-weight: bold;}
.hei_30_bold{font-size: 30rpx;color: #333333; font-weight: bold;}
.hei_31_bold{font-size: 31rpx;color: #333333; font-weight: bold;}
.hei_32_bold{font-size: 32rpx;color: #333333; font-weight: bold;}
.hei_34_bold{font-size: 34rpx;color: #333333; font-weight: bold;}
.hei_36_bold{font-size: 36rpx;color: #333333; font-weight: bold;}
.hei_38_bold{font-size: 38rpx;color: #333333; font-weight: bold;}
.hei_40_bold{font-size: 40rpx;color: #333333; font-weight: bold;}
.hei_48_bold{font-size: 48rpx;color: #333333; font-weight: bold;}

.hui_20{font-size: 20rpx;color: #666666;}
.hui_21{font-size: 21rpx;color: #666666;}
.hui_22{font-size: 22rpx;color: #666666;}
.hui_23{font-size: 23rpx;color: #666666;}
.hui_24{font-size: 24rpx;color: #666666;}
.hui_25{font-size: 25rpx;color: #666666;}
.hui_26{font-size: 26rpx;color: #666666;}
.hui_27{font-size: 27rpx;color: #666666;}
.hui_28{font-size: 28rpx;color: #666666;}
.hui_29{font-size: 29rpx;color: #666666;}
.hui_30{font-size: 30rpx;color: #666666;}
.hui_31{font-size: 31rpx;color: #666666;}
.hui_32{font-size: 32rpx;color: #666666;}
.hui_34{font-size: 34rpx;color: #666666;}

.hui_20_bold{font-size: 20rpx;color: #666666; font-weight: bold;}
.hui_21_bold{font-size: 21rpx;color: #666666; font-weight: bold;}
.hui_22_bold{font-size: 22rpx;color: #666666; font-weight: bold;}
.hui_23_bold{font-size: 23rpx;color: #666666; font-weight: bold;}
.hui_24_bold{font-size: 24rpx;color: #666666; font-weight: bold;}
.hui_25_bold{font-size: 25rpx;color: #666666; font-weight: bold;}
.hui_26_bold{font-size: 26rpx;color: #666666; font-weight: bold;}
.hui_27_bold{font-size: 27rpx;color: #666666; font-weight: bold;}
.hui_28_bold{font-size: 28rpx;color: #666666; font-weight: bold;}
.hui_29_bold{font-size: 29rpx;color: #666666; font-weight: bold;}
.hui_30_bold{font-size: 30rpx;color: #666666; font-weight: bold;}
.hui_31_bold{font-size: 31rpx;color: #666666; font-weight: bold;}
.hui_32_bold{font-size: 32rpx;color: #666666; font-weight: bold;}


.qian_20{font-size: 20rpx;color: #999999;}
.qian_21{font-size: 21rpx;color: #999999;}
.qian_22{font-size: 22rpx;color: #999999;}
.qian_23{font-size: 23rpx;color: #999999;}
.qian_24{font-size: 24rpx;color: #999999;}
.qian_25{font-size: 25rpx;color: #999999;}
.qian_26{font-size: 26rpx;color: #999999;}
.qian_27{font-size: 27rpx;color: #999999;}
.qian_28{font-size: 28rpx;color: #999999;}
.qian_29{font-size: 29rpx;color: #999999;}
.qian_30{font-size: 30rpx;color: #999999;}
.qian_31{font-size: 31rpx;color: #999999;}
.qian_32{font-size: 32rpx;color: #999999;}
.qian_34{font-size: 34rpx;color: #999999;}
.qian_36{font-size: 36rpx;color: #999999;}

.qian_20_bold{font-size: 20rpx;color: #999999; font-weight: bold;}
.qian_21_bold{font-size: 21rpx;color: #999999; font-weight: bold;}
.qian_22_bold{font-size: 22rpx;color: #999999; font-weight: bold;}
.qian_23_bold{font-size: 23rpx;color: #999999; font-weight: bold;}
.qian_24_bold{font-size: 24rpx;color: #999999; font-weight: bold;}
.qian_25_bold{font-size: 25rpx;color: #999999; font-weight: bold;}
.qian_26_bold{font-size: 26rpx;color: #999999; font-weight: bold;}
.qian_27_bold{font-size: 27rpx;color: #999999; font-weight: bold;}
.qian_28_bold{font-size: 28rpx;color: #999999; font-weight: bold;}
.qian_29_bold{font-size: 29rpx;color: #999999; font-weight: bold;}
.qian_30_bold{font-size: 30rpx;color: #999999; font-weight: bold;}
.qian_31_bold{font-size: 31rpx;color: #999999; font-weight: bold;}
.qian_32_bold{font-size: 32rpx;color: #999999; font-weight: bold;}
.qian_34_bold{font-size: 34rpx;color: #999999; font-weight: bold;}

.lan_20{font-size: 20rpx;color: #00c6c9;}
.lan_21{font-size: 21rpx;color: #00c6c9;}
.lan_22{font-size: 22rpx;color: #00c6c9;}
.lan_23{font-size: 23rpx;color: #00c6c9;}
.lan_24{font-size: 24rpx;color: #00c6c9;}
.lan_25{font-size: 25rpx;color: #00c6c9;}
.lan_26{font-size: 26rpx;color: #00c6c9;}
.lan_27{font-size: 27rpx;color: #00c6c9;}
.lan_28{font-size: 28rpx;color: #00c6c9;}
.lan_29{font-size: 29rpx;color: #00c6c9;}
.lan_30{font-size: 30rpx;color: #00c6c9;}
.lan_31{font-size: 31rpx;color: #00c6c9;}
.lan_32{font-size: 32rpx;color: #00c6c9;}
.lan_34{font-size: 34rpx;color: #00c6c9;}
.lan_36{font-size: 36rpx;color: #00c6c9;}

.lan_20_bold{font-size: 20rpx;color: #00c6c9; font-weight: bold;}
.lan_21_bold{font-size: 21rpx;color: #00c6c9; font-weight: bold;}
.lan_22_bold{font-size: 22rpx;color: #00c6c9; font-weight: bold;}
.lan_23_bold{font-size: 23rpx;color: #00c6c9; font-weight: bold;}
.lan_24_bold{font-size: 24rpx;color: #00c6c9; font-weight: bold;}
.lan_25_bold{font-size: 25rpx;color: #00c6c9; font-weight: bold;}
.lan_26_bold{font-size: 26rpx;color: #00c6c9; font-weight: bold;}
.lan_27_bold{font-size: 27rpx;color: #00c6c9; font-weight: bold;}
.lan_28_bold{font-size: 28rpx;color: #00c6c9; font-weight: bold;}
.lan_29_bold{font-size: 29rpx;color: #00c6c9; font-weight: bold;}
.lan_30_bold{font-size: 30rpx;color: #00c6c9; font-weight: bold;}
.lan_31_bold{font-size: 31rpx;color: #00c6c9; font-weight: bold;}
.lan_32_bold{font-size: 32rpx;color: #00c6c9; font-weight: bold;}
.lan_34_bold{font-size: 34rpx;color: #00c6c9; font-weight: bold;}
.lan_36_bold{font-size: 36rpx;color: #00c6c9; font-weight: bold;}

.hong_20{font-size: 20rpx;color: #f43a51;}
.hong_21{font-size: 21rpx;color: #f43a51;}
.hong_22{font-size: 22rpx;color: #f43a51;}
.hong_23{font-size: 23rpx;color: #f43a51;}
.hong_24{font-size: 24rpx;color: #f43a51;}
.hong_25{font-size: 25rpx;color: #f43a51;}
.hong_26{font-size: 26rpx;color: #f43a51;}
.hong_27{font-size: 27rpx;color: #f43a51;}
.hong_28{font-size: 28rpx;color: #f43a51;}
.hong_29{font-size: 29rpx;color: #f43a51;}
.hong_30{font-size: 30rpx;color: #f43a51;}
.hong_31{font-size: 31rpx;color: #f43a51;}
.hong_32{font-size: 32rpx;color: #f43a51;}
.hong_38{font-size: 38rpx;color: #f43a51;}

.hong_20_bold{font-size: 20rpx;color: #f43a51; font-weight: bold;}
.hong_21_bold{font-size: 21rpx;color: #f43a51; font-weight: bold;}
.hong_22_bold{font-size: 22rpx;color: #f43a51; font-weight: bold;}
.hong_23_bold{font-size: 23rpx;color: #f43a51; font-weight: bold;}
.hong_24_bold{font-size: 24rpx;color: #f43a51; font-weight: bold;}
.hong_25_bold{font-size: 25rpx;color: #f43a51; font-weight: bold;}
.hong_26_bold{font-size: 26rpx;color: #f43a51; font-weight: bold;}
.hong_27_bold{font-size: 27rpx;color: #f43a51; font-weight: bold;}
.hong_28_bold{font-size: 28rpx;color: #f43a51; font-weight: bold;}
.hong_29_bold{font-size: 29rpx;color: #f43a51; font-weight: bold;}
.hong_30_bold{font-size: 30rpx;color: #f43a51; font-weight: bold;}
.hong_31_bold{font-size: 31rpx;color: #f43a51; font-weight: bold;}
.hong_32_bold{font-size: 32rpx;color: #f43a51; font-weight: bold;}
.hong_38_bold{font-size: 38rpx;color: #f43a51; font-weight: bold;}

.shenlan_20{font-size: 20rpx;color: #1986fb;}
.shenlan_21{font-size: 21rpx;color: #1986fb;}
.shenlan_22{font-size: 22rpx;color: #1986fb;}
.shenlan_23{font-size: 23rpx;color: #1986fb;}
.shenlan_24{font-size: 24rpx;color: #1986fb;}
.shenlan_25{font-size: 25rpx;color: #1986fb;}
.shenlan_26{font-size: 26rpx;color: #1986fb;}
.shenlan_27{font-size: 27rpx;color: #1986fb;}
.shenlan_28{font-size: 28rpx;color: #1986fb;}
.shenlan_29{font-size: 29rpx;color: #1986fb;}
.shenlan_30{font-size: 30rpx;color: #1986fb;}
.shenlan_31{font-size: 31rpx;color: #1986fb;}
.shenlan_32{font-size: 32rpx;color: #1986fb;}
.shenlan_34{font-size: 34rpx;color: #1986fb;}
.shenlan_36{font-size: 36rpx;color: #1986fb;}



button::after{
	content: none !important;
}

.daoru_body uni-checkbox .uni-checkbox-input{
		width: 46rpx;
		height: 46rpx;
		background-color: #FFFFFF !important;
		border-color: #E8E8E8 !important;
		border-radius: 100%;
		margin: 0;
}
.daoru_body uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked{
	width: 46rpx;
	height: 46rpx;
	 background: url(@/static/index_img/daoru_xuanzhong.png) no-repeat;
	 background-size: 100% 100%; 
}
.daoru_body uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked:before{
	content: none;
}
uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked:before,uni-radio .uni-radio-input.uni-radio-input-checked:before{
 	content: none !important;
 }

uni-checkbox:not([disabled]) .uni-checkbox-input:hover,uni-radio:not([disabled]) .uni-radio-input:hover{
 	border-color: #E8E8E8 !important;
 	content: none !important;
 }
.shiming_list uni-radio .uni-radio-input{
	width: 20rpx;
	height: 20rpx;
	background-color: #FFFFFF !important;
	border-color: #E8E8E8 !important;
}
.shiming_list uni-radio .uni-radio-input.uni-radio-input-checked{
	width: 20rpx;
	height: 20rpx; 
	background: url(@/static/index_img/shiming_radio.png) no-repeat;
	background-size: 100% 100%;
}
.uni-picker-container .uni-picker-action.uni-picker-action-confirm{
	color: #00c6c9;
}
	 

.zhanshi_list uni-radio .uni-radio-input,.fangshi_list uni-radio .uni-radio-input{
	width: 30rpx;
	height: 30rpx;
	background-color: #FFFFFF !important;
	border-color: #E8E8E8 !important;
}
.zhanshi_list uni-radio .uni-radio-input.uni-radio-input-checked{
	width: 30rpx;
	height: 30rpx; 
	background: url(@/static/index_img/yinsi_radio.png) no-repeat;
	background-size: 100% 100%;
	
}
.fangshi_list uni-radio .uni-radio-input.uni-radio-input-checked{
	width: 30rpx;
	height: 30rpx; 
	background: url(@/static/index_img/daoru_xuanzhong.png) no-repeat;
	background-size: 100% 100%;
	border: none !important;
}
.xianshi_body uni-checkbox .uni-checkbox-input{
		width: 36rpx;
		height: 36rpx;
		background-color: #FFFFFF !important;
		border-color: #E8E8E8 !important;
		border-radius: 100%;
		margin: 0;
}
.xianshi_body uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked{
	width: 36rpx;
	height: 36rpx;
	 background: url(@/static/index_img/daoru_xuanzhong.png) no-repeat;
	 background-size: 100% 100%; 
}
.xieyi uni-checkbox .uni-checkbox-input{
		width: 22rpx;
		height: 22rpx;
		background-color: #FFFFFF !important;
		
		
		margin: 0;
}
.xieyi uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked{
	width: 22rpx;
	height: 22rpx;
	 background:url(@/static/index_img/xieyi_ch_bg.png) no-repeat;
	 background-size: 100% 100%; 
	 
}
